logging:
  level:
    ROOT: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: INFO
    java.sql: DEBUG

spring:
  profiles:
    active: dev

---

spring:
  profiles: dev
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
  h2:
    console:
      enabled: true
  mvc:
    static-path-pattern: /static/**
  devtools:
    livereload:
      enabled: true
  thymeleaf:
    cache: false
  batch:
    job:
      enabled: true

server:
  port: 8080

---

spring:
  profiles: prod
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://
    username: root
    password:
  h2:
    console:
      enabled: true
  mvc:
    static-path-pattern: /static/**
