<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common_layout">

<head>
    <title>Page not found</title>
</head>

<body>

<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">404</h1>
            <p class="lead">This is not the web site you are looking for.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
        </div>
    </div>
</section>
</body>
</html>