<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common_layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${todo_list.isEmpty()}">
                <td colspan="2"> Add your own todo list!</td>
            </tr>
            <tr th:each="todo : ${todo_list}">
                <td><span th:text="${todo.title}"> Title </span></td>
                <td><span th:text="${todo.description}"> Content </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>