<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common_layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Content page</title>
</head>

<body>

<section layout:fragment="content">
    <div class="container text-center">
        <h2>달성률</h2>
        <div style="width: 70%; margin: auto;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" th:style="'width: '+(${user.doneRate})+'%'" th:aria-valuenow="${user.doneRate}" aria-valuemin="0" aria-valuemax="100" th:text="${user.doneRate}+'%'"></div>
            </div>
        </div>
    </div>

    <br/>

    <div class="container">
        <div class="text-center">
            <h3>Today's Todo List</h3>
        </div>

        <div id="todo-list" class="list-group list-group-flush">
            <h3 th:if="${todo_list.isEmpty()}">
                Add your own todo list!
            </h3>
            <a th:each="todo : ${todo_list}" class="list-group-item list-group-item-action" th:href="'#des-'+${todo.id}" data-toggle="collapse" aria-expanded="false" th:aria-controls="'#des-'+${todo.id}">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-complete-todo" th:data-id="${todo.id}"></button>
                <span th:text="${todo.title}"></span>
                <div style="float: right">
                    <span th:text="${todo.doneRate}+'%'"></span>
                </div>
                <div class="collapse" th:id="'des-'+${todo.id}">
                    <p th:text="${todo.description}"></p>
                </div>
            </a>
        </div>

        <br/>
        <button type="button" id="btn-showing-completed-todo-list" class="btn btn-sm btn-outline-secondary">완료된 할 일</button>

        <div id="completed-todo-list" class="list-group list-group-flush">
            <a th:each="todo : ${completed_todo_list}" class="list-group-item list-group-item-action" data-toggle="collapse" th:href="'#des-'+${todo.id}" aria-expanded="false" th:aria-controls="'#des-'+${todo.id}">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-complete-todo" th:data-id="${todo.id}"></button>
                <span th:text="${todo.title}"></span>
                <div style="float: right">
                    <span th:text="${todo.doneRate}+'%'"></span>
                </div>
                <div class="collapse" th:id="'des-'+${todo.id}">
                    <p th:text="${todo.description}"></p>
                </div>
            </a>
        </div>
    </div>
</section>

</body>
</html>